fastapi==0.110.0
uvicorn==0.27.1

transformers==4.39.3
torch
accelerate
sentencepiece

langchain==0.1.16
langchain-core==0.1.46
langchain-community==0.0.34

pdfplumber==0.11.0


pandas
numpy
streamlit
requests
python-multipart
regex
